<a href="https://colab.research.google.com/github/jihun0423/algorithm_practice/blob/main/DFS_BFS_%EB%8F%99%EC%A0%81%EA%B3%84%ED%9A%8D%EB%B2%95_(%EB%83%85%EC%83%89%2C_%ED%94%8C%EB%A1%9C%EC%9D%B4%EB%93%9C_%EC%99%80%EC%83%AC).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[[5,3],[10,2],[1,5]]
n=len(a)

t=20
ans=dict()
cnt=0

In [ ]:
def DFS(v,sum):
  global cnt
  if v==n:
    if sum == t:
      print(ans)
      cnt+=1
    else:
      return
  else:
    for i in range(0,a[v][1]+1):
      ans[a[v][0]]=i
      DFS(v+1,sum+(a[v][0]*i))
      ans[a[v][0]]=0

In [ ]:
DFS(0,0)

{5: 0, 10: 2, 1: 0}
{5: 1, 10: 1, 1: 5}
{5: 2, 10: 1, 1: 0}
{5: 3, 10: 0, 1: 5}

In [ ]:
cnt

8

In [ ]:
a=3
b=4
c=5
min(a,b,c)

3

In [ ]:
a = [8,9,11,12,23,15,17]
n = len(a)
mini = 999
def DFS(v,sum_a,sum_b,sum_c):
  global mini
  if v == n:
    if sum_a != sum_b and sum_b != sum_c and sum_a != sum_c:
      if (max(sum_a,sum_b,sum_c) - min(sum_a,sum_b,sum_c)) < mini:
        mini = (max(sum_a,sum_b,sum_c) - min(sum_a,sum_b,sum_c))
        print(sum_a,sum_b,sum_c,mini)
  else:
    DFS(v+1,sum_a+a[v],sum_b,sum_c)
    DFS(v+1,sum_a,sum_b+a[v],sum_c)
    DFS(v+1,sum_a,sum_b,sum_c+a[v])

In [ ]:
DFS(0,0,0,0)

78 17 0 78
63 32 0 63
63 15 17 48
55 23 17 38
40 38 17 23
40 23 32 17
28 35 32 7
29 34 32 5

In [ ]:
mini

5

In [ ]:
l=['END']
for i in range(ord('A'),ord('Z')+1):
  l.append(chr(i))

ans=[]

a= list(map(int,'26521810'))
n= len(a)

In [ ]:
def DFS(v):
  global ans
  if v == n:
    print(ans)
  elif a[v] == 0:
    print(ans)
  elif v == n-1:
    ans.append(l[a[v]])
    DFS(v+1)
    ans.pop()
  else:
    if (a[v]*10 + a[v+1])<=26:
      ans.append(l[(a[v]*10 + a[v+1])])
      DFS(v+2)
      ans.pop()
      ans.append(l[a[v]])
      DFS(v+1)
      ans.pop()
    else:
      ans.append(l[a[v]])
      DFS(v+1)
      ans.pop()

In [ ]:
DFS(0)

['Z', 'E', 'U', 'H', 'J']
['Z', 'E', 'U', 'H', 'A']
['Z', 'E', 'B', 'R', 'J']
['Z', 'E', 'B', 'R', 'A']
['Z', 'E', 'B', 'A', 'H', 'J']
['Z', 'E', 'B', 'A', 'H', 'A']
['B', 'F', 'E', 'U', 'H', 'J']
['B', 'F', 'E', 'U', 'H', 'A']
['B', 'F', 'E', 'B', 'R', 'J']
['B', 'F', 'E', 'B', 'R', 'A']
['B', 'F', 'E', 'B', 'A', 'H', 'J']
['B', 'F', 'E', 'B', 'A', 'H', 'A']

## BFS

In [ ]:
from collections import deque
m=1000
dq = deque()
dq.append(5)
l = [0] * (m+1)
l[5] = 0
t=14

In [ ]:
while dq:
  if l[t] !=0:
    print(l[t])
    break
  last = dq.popleft()
  for i in [last+1,last-1,last+5]:
    if i >= 0:
      if l[i] == 0:
        l[i] = l[last]+1
        dq.append(i)

3

In [ ]:
import numpy as np
a=list(range(25))
a = np.array(a)
a = a.reshape(5,5)

In [ ]:
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [ ]:
n = 5
m = (n//2)
now = m*n+m
from collections import deque
dq = deque()
dq.append(now)
l = [0] * (n**2)
l[now]=1
ans = [a[m,m]]
level=0
while dq:
  if level == m:
    break
  size = len(dq)
  for _ in range(size):
    now = dq.popleft()
    for i in [now-5,now+5,now-1,now+1]:
      if l[i] == 0:
        l[i] = l[now]+1
        ans.append(a[i//5][i%5])
        dq.append(i)
  level += 1

In [ ]:
ans

[12, 7, 17, 11, 13, 2, 6, 8, 22, 16, 18, 10, 14]

In [ ]:
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [ ]:
dx = [1,0,-1,0]
dy = [0,1,0,-1]
n=7
ch = [[0]*n for _ in range(n)]
dis = [[0]*n for _ in range(n)]

a=[[0,0,0,0,0,0,0],
   [0,1,1,1,1,1,0],
   [0,0,0,1,0,0,0],
   [1,1,0,1,0,1,1],
   [1,1,0,1,0,0,0],
   [1,0,0,0,1,0,0],
   [1,0,1,0,0,0,0]]

now = (0,0)

dq = deque()
dq.append(now)

In [ ]:
l=0
while dq:
  if dis[n-1][n-1] != 0:
    break
  size = len(dq)
  for _ in range(size):
    now = dq.popleft()
    ch[now[0]][now[1]] = 1
    for x,y in zip(dx,dy):
      if (0 <= (now[1]+x) < 7) and (0 <= (now[0]+y) < 7) and (ch[now[0]+y][now[1]+x] == 0) and a[now[0]+y][now[1]+x] == 0:
        dq.append((now[0]+y,now[1]+x))
        dis[now[0]+y][now[1]+x] = l+1
  l+=1

In [ ]:
dis

[[0, 1, 2, 3, 4, 5, 6],
 [1, 0, 0, 0, 0, 0, 7],
 [2, 3, 4, 0, 10, 9, 8],
 [0, 0, 5, 0, 11, 0, 0],
 [0, 0, 6, 0, 12, 0, 0],
 [0, 8, 7, 8, 0, 12, 0],
 [0, 9, 0, 9, 10, 11, 12]]

In [ ]:
ch

[[1, 1, 1, 1, 1, 1, 1],
 [1, 0, 0, 0, 0, 0, 1],
 [1, 1, 1, 0, 1, 1, 1],
 [0, 0, 1, 0, 1, 0, 0],
 [0, 0, 1, 0, 1, 0, 0],
 [0, 1, 1, 1, 0, 1, 0],
 [0, 1, 0, 1, 1, 1, 1]]

In [ ]:
dx = [1,0,-1,0]
dy = [0,1,0,-1]
n=7
ch = [[0]*n for _ in range(n)]
dis = [[0]*n for _ in range(n)]

a=[[0,0,0,0,0,0,0],
   [0,1,1,1,1,1,0],
   [0,0,0,1,0,0,0],
   [1,1,0,1,0,1,1],
   [1,1,0,0,0,0,1],
   [1,1,0,1,1,0,0],
   [1,0,0,0,0,0,0]]

In [ ]:
cnt=0

a[0][0] = 1

def DFS(x,y,v):
  global cnt
  if dis[6][6]!=0:
    cnt+=1
    for i in range(len(dis)):
      print(dis[i])
    print()
  else:
    for i in range(4):
      next_x = x+dx[i]
      next_y = y+dy[i]
      if (0<=next_x<=6) and (0<=next_y<=6):
        if (a[next_x][next_y] == 0) and (dis[next_x][next_y] == 0):
          dis[next_x][next_y] = v+1
          a[next_x][next_y] = 1
          DFS(next_x,next_y,v+1)
          a[next_x][next_y] = 0
          dis[next_x][next_y] = 0

In [ ]:
DFS(0,0,0)

[0, 0, 0, 0, 0, 0, 0]
[1, 0, 0, 0, 0, 0, 0]
[2, 3, 4, 0, 0, 0, 0]
[0, 0, 5, 0, 0, 0, 0]
[0, 0, 6, 0, 0, 0, 0]
[0, 0, 7, 0, 0, 0, 0]
[0, 0, 8, 9, 10, 11, 12]

[0, 0, 0, 0, 0, 0, 0]
[1, 0, 0, 0, 0, 0, 0]
[2, 3, 4, 0, 0, 0, 0]
[0, 0, 5, 0, 0, 0, 0]
[0, 0, 6, 0, 0, 0, 0]
[0, 0, 7, 0, 0, 12, 13]
[0, 0, 8, 9, 10, 11, 14]

[0, 0, 0, 0, 0, 0, 0]
[1, 0, 0, 0, 0, 0, 0]
[2, 3, 4, 0, 0, 0, 0]
[0, 0, 5, 0, 0, 0, 0]
[0, 0, 6, 7, 8, 9, 0]
[0, 0, 0, 0, 0, 10, 0]
[0, 0, 0, 0, 0, 11, 12]

[0, 0, 0, 0, 0, 0, 0]
[1, 0, 0, 0, 0, 0, 0]
[2, 3, 4, 0, 0, 0, 0]
[0, 0, 5, 0, 0, 0, 0]
[0, 0, 6, 7, 8, 9, 0]
[0, 0, 0, 0, 0, 10, 11]
[0, 0, 0, 0, 0, 0, 12]

[0, 1, 2, 3, 4, 5, 6]
[0, 0, 0, 0, 0, 0, 7]
[0, 0, 0, 0, 10, 9, 8]
[0, 0, 0, 0, 11, 0, 0]
[0, 0, 0, 0, 12, 13, 0]
[0, 0, 0, 0, 0, 14, 0]
[0, 0, 0, 0, 0, 15, 16]

[0, 1, 2, 3, 4, 5, 6]
[0, 0, 0, 0, 0, 0, 7]
[0, 0, 0, 0, 10, 9, 8]
[0, 0, 0, 0, 11, 0, 0]
[0, 0, 0, 0, 12, 13, 0]
[0, 0, 0, 0, 0, 14, 15]
[0, 0, 0, 0, 0, 0, 16]

[0, 1, 2, 3, 4, 5, 6]
[0, 0, 0, 0, 0, 0, 7]
[0, 0, 0, 0, 10, 9, 8]
[0, 0, 0, 0, 11, 0, 0]
[0, 0, 14, 13, 12, 0, 0]
[0, 0, 15, 0, 0, 0, 0]
[0, 0, 16, 17, 18, 19, 20]

[0, 1, 2, 3, 4, 5, 6]
[0, 0, 0, 0, 0, 0, 7]
[0, 0, 0, 0, 10, 9, 8]
[0, 0, 0, 0, 11, 0, 0]
[0, 0, 14, 13, 12, 0, 0]
[0, 0, 15, 0, 0, 20, 21]
[0, 0, 16, 17, 18, 19, 22]

In [ ]:
cnt

8

In [ ]:
a

[[0, 0, 0, 0, 0, 0, 0],
 [0, 1, 1, 1, 1, 1, 0],
 [0, 0, 0, 1, 0, 0, 0],
 [1, 1, 0, 1, 0, 1, 1],
 [1, 1, 0, 1, 0, 0, 0],
 [1, 0, 0, 0, 1, 0, 0],
 [1, 0, 1, 0, 0, 0, 0]]

In [ ]:
from collections import deque
dq = deque()
dq.append((0,0))
min = [(0,0),100]
max = [(0,0),0]

a= [[20,2,92,78,93],
    [49,50,48,90,80],
    [30,53,70,75,96],
    [94,91,82,89,93],
    [97,98,100,95,96]]
n=len(a)

dx = [1,0,-1,0]
dy = [0,1,0,-1]

ch = [[0]*5 for _ in range(n)]
ch[0][0] = 1

ans = []
v=0
while dq:
  l = len(dq)
  now_x,now_y = dq.popleft()

  for i in range(l):
    for j in range(4):
      next_x = now_x + dx[j]
      next_y = now_y + dy[j]

      if 0<=next_x<n and 0<=next_y < n:
        if a[next_x][next_y] < min[1]:
          min = [(next_x,next_y),a[next_x][next_y]]
        if a[next_x][next_y] > max[1]:
          max = [(next_x,next_y),a[next_x][next_y]]
        if ch[next_x][next_y] == 0 and a[next_x][next_y] > a[now_x][now_y]:
          dq.append((next_x,next_y))
          ch[next_x][next_y] = 1
  v+=1

print(v)
print(min)
print(max)

18
[(0, 1), 2]
[(4, 2), 100]

In [ ]:
ch = [[0]*5 for _ in range(n)]
ch[0][0] = 1
cnt=0
ans = [min[1]]

def DFS(x,y,v):
  global cnt
  if ch[max[0][0]][max[0][1]] != 0:
    cnt+=1
    print(ans)
  else:
    for i in range(4):
      next_x = x+dx[i]
      next_y = y+dy[i]

      if 0<=next_x<n and 0<=next_y<n and ch[next_x][next_y] == 0 and a[x][y] < a[next_x][next_y]:
        ans.append(a[next_x][next_y])
        ch[next_x][next_y] = 1
        DFS(next_x,next_y,v+1)
        ch[next_x][next_y] = 0
        ans.pop()

DFS(min[0][0],min[0][1],0)
cnt

[2, 50, 53, 91, 98, 100]
[2, 50, 53, 91, 94, 97, 98, 100]
[2, 50, 53, 70, 82, 100]
[2, 50, 53, 70, 82, 89, 95, 100]
[2, 50, 53, 70, 82, 91, 98, 100]
[2, 50, 53, 70, 82, 91, 94, 97, 98, 100]
[2, 50, 53, 70, 75, 89, 95, 100]

7

In [ ]:
ch

[[1, 1, 1, 1, 1],
 [0, 0, 0, 0, 1],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0],
 [0, 0, 0, 0, 0]]

In [ ]:
import sys
sys.setrecursionlimit(10**6)

a=[[6,8,2,6,2],
   [3,2,3,4,6],
   [6,7,3,3,2],
   [7,2,5,3,6],
   [8,9,5,2,7]]

ch = [[0]*n for _ in range(n)]

n=len(a)

m=4

dx = [1,0,-1,0]
dy = [0,1,0,-1]

cnt=0
ans=[]

def DFS(x,y):
  global c
  for k in range(4):
    xx = x+dx[k]
    yy = y+dy[k]

    if 0<=xx<n and 0<=yy<n:
      if a[xx][yy] > m and ch[xx][yy] == 0 :
        ch[xx][yy] = 1
        c+=1
        DFS(xx,yy)

for i in range(n):
  for j in range(n):
    if ch[i][j]==0 and a[i][j]>m:
      ch[i][j] = 1
      cnt+=1
      c=1
      DFS(i,j)
      ans.append(c)

In [ ]:
ans

[2, 1, 1, 7, 2]

In [ ]:
from collections import deque
dq = deque()

a=[[0,0,-1,0,0,0],
   [0,0,1,0,-1,0],
   [0,0,-1,0,0,0],
   [0,0,0,0,-1,1]]

n = len(a)
m = len(a[0])
ch = [[0]*m for _ in range(n)]
cnt=0
cnt_list=[]

cnt_0=0
for i in range(n):
  for j in range(m):
    if a[i][j] == 0:
      cnt_0 += 1

if cnt_0 == 0:
  print('0')

else:
  for i in range(n):
    for j in range(m):

      if a[i][j] == 1 and ch[i][j] == 0:
        dq.append((i,j))
        ch[i][j] = 1


v=0
while dq:
  dq_len = len(dq)
  for _ in range(dq_len):
    now = dq.popleft()
    for k in range(4):
      y = now[0] + dy[k]
      x = now[1] + dx[k]

      if 0<=x<m and 0<=y<n:
        if ch[y][x] == 0 and a[y][x] == 0:
          dq.append((y,x))
          ch[y][x] = 1
          a[y][x] = 1
  v+=1

print(v)

cnt_0=0
for i in range(n):
  for j in range(m):
    if a[i][j] == 0:
      cnt_0 += 1

if cnt_0 > 0:
  print('-1')

5

In [ ]:
cnt_list

[6, 1]

## 사다리타기

### DFS

In [ ]:
a=[[1,0,1,0,0,1,0,1,0,1],
   [1,0,1,1,1,1,0,1,0,1],
   [1,0,1,0,0,1,0,1,0,1],
   [1,0,1,0,0,1,0,1,1,1],
   [1,0,1,0,0,1,0,1,0,1],
   [1,0,1,1,1,1,0,1,0,1],
   [1,0,1,0,0,1,0,1,1,1],
   [1,1,1,0,0,1,0,1,0,1],
   [1,0,1,0,0,1,1,1,0,1],
   [1,0,2,0,0,1,0,2,0,1]]

n=len(a)

ch = [[0]*n for _ in range(n)]


def DFS(y,x,v):
  if y==(n-1):
    if a[y][x] == 2:
      print('Starting point : ',v)
    else:
      print('Wrong : ',v)
  else:
    ch[y][x] = 1
    try:
      if x+1 <= n and a[y][x+1] == 1 and ch[y][x+1] == 0:
        DFS(y,x+1,v)
      elif x-1 >= 0 and a[y][x-1] == 1 and ch[y][x-1] == 0:
        DFS(y,x-1,v)
      else:
        DFS(y+1,x,v)
    except:
      DFS(y+1,x,v)


for v in range(n):
  ch = [[0]*n for _ in range(n)]
  ch[0][v] = 1
  if a[0][v] == 1:
    DFS(0,v,v)

Starting point :  0
Wrong :  2
Starting point :  5
Wrong :  7
Wrong :  9

### BFS

In [ ]:
from collections import deque
dq = deque()

a=[[1,0,1,0,0,1,0,1,0,1],
   [1,0,1,1,1,1,0,1,0,1],
   [1,0,1,0,0,1,0,1,0,1],
   [1,0,1,0,0,1,0,1,1,1],
   [1,0,1,0,0,1,0,1,0,1],
   [1,0,1,1,1,1,0,1,0,1],
   [1,0,1,0,0,1,0,1,1,1],
   [1,1,1,0,0,1,0,1,0,1],
   [1,0,1,0,0,1,1,1,0,1],
   [1,0,2,0,0,1,0,2,0,1]]

n=len(a)

ch = [[0]*n for _ in range(n)]

for v in range(n):

  if a[0][v] == 1:
    dq.append((0,v))
    ch = [[0]*n for _ in range(n)]
    while dq:
      now = dq.popleft()
      ch[now[0]][now[1]] = 1

      if now[0] == n-1:
        if a[now[0]][now[1]] == 2:
          print('correct : ',v)
        else:
          print('wrong : ',v)
      else:
        y= now[0]
        x= now[1]
        try:
          if x+1 <= n and a[y][x+1] == 1 and ch[y][x+1] == 0:
            dq.append((y,x+1))
          elif x-1 >= 0 and a[y][x-1] == 1 and ch[y][x-1] == 0:
            dq.append((y,x-1))
          else:
            dq.append((y+1,x))
        except:
          dq.append((y+1,x))

correct :  0
wrong :  2
correct :  5
wrong :  7
wrong :  9

## 피자 배달거리

In [ ]:
a=[[0,1,2,0],
   [1,0,2,1],
   [0,2,1,2],
   [2,0,1,2]]

def check_pizza(list):
  pizzas = []
  for i in range(len(a)):
    for j in range(len(a[0])):
      if a[i][j] == 2:
        pizzas.append((i,j))
  return pizzas
pizzas = check_pizza(a)

def check_houses(list):
  houses = []
  for i in range(len(a)):
    for j in range(len(a[0])):
      if a[i][j] == 1:
        houses.append((i,j))
  return houses
houses = check_houses(a)

pizzas_select = []
l = []

def combination(v,m,n):
  if len(l) == m:
    pizzas_select.append([i for i in l])
  elif v == len(pizzas):
    if len(l)>=n:
      pizzas_select.append([i for i in l])
  else:
    l.append(v)
    combination(v+1,m,n)
    l.pop()
    combination(v+1,m,n)

In [ ]:
def check_distances(pizza_r,pizza_c,house_r,house_c):
  return (abs(pizza_r-house_r) + abs(pizza_c-house_c))

def choose_final():
  min = 999
  final = []
  for i in pizzas_select:
    sum_i = 0
    for j in i:
      pizza_r,pizza_c = pizzas[j]
      for house_r,house_c in houses:
        sum_i += check_distances(pizza_r,pizza_c,house_r,house_c)
    if sum_i/len(i) < min:
      min = sum_i/len(i)
      final = i
  print('final pizza location : ', [pizzas[i] for i in final])
  print('minimum pizza distance : ',min)

In [ ]:
def Pizza(a,m,n):
  pizzas=check_pizza(a)
  houses=check_houses(a)
  pizzas_select = []
  l = []
  pizza_select=combination(0,m,n)
  choose_final()

In [ ]:
Pizza(a,5,4)

final pizza location :  [(0, 2), (1, 2), (2, 1), (2, 3)]
minimum pizza distance :  10.25

# 병합정렬

In [ ]:
a=[4,1,9,5,2,6,3,8]
def dsort(lt,rt):
  if rt > lt:
    mid = (lt+rt)//2
    dsort(lt,mid)
    dsort(mid+1,rt)
    p1=lt
    p2=mid+1

    tmp=[]

    while p1<=mid and p2<=rt:
      if a[p1] <= a[p2]:
        tmp.append(a[p1])
        p1+=1
      else:
        tmp.append(a[p2])
        p2+=1
    if p1 <= mid:
      tmp = tmp+ a[p1:mid+1]
      p1+=1
    elif p2 <= rt:
      tmp = tmp + a[p2:rt+1]
      p2+=1

    for i in range(len(tmp)):
      a[lt+i] = tmp[i]

In [ ]:
dsort(0,7)

In [ ]:
a

[1, 2, 3, 4, 5, 6, 8, 9]

In [ ]:
a = [36,45,23,14,69,40,39,20,28,34]

In [ ]:
for i in range(0,10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
ans = [0] * len(a)
def csort(lt,rt,v):
  if rt>lt:
    tmp1=[]
    tmp2=[]
    crit = a[n-v]
    for i in (0,n-v):
      if a[i] < crit:
        tmp1.append(a[i])
      else:
        tmp2.append(a[i])
    l = len(tmp1)
    ans[lt+l] = crit

    if len(tmp1)==1:
      ans[lt+l-1] = tmp1[0]
    elif len(tmp2)==1:
      ans[lt+l+1] = tmp2[0]

    a.pop()

    csort(lt,lt+l-1)
    csort(lt+l+1,rt)

# 동적계획법

In [ ]:
n=7
ans = [0] * (n+1)
ans[1] = 1
ans[2] = 2

def DFS(v):
  if ans[v] != 0:
    return ans[v]
  if v == 1 or v == 2:
    return ans[v]
  else:
    ans[v] = DFS(v-1) + DFS(v-2)
    return ans[v]

In [ ]:
DFS(7)

21

In [ ]:
a = [5,3,4,2,8,7,1,9]
ans = [0] * (len(a))

In [ ]:
def DFS(v):
  if ans[v] != 0:
    return ans[v]
  if v == 0:
    ans[v] = 1
    return ans[v]
  else:
    tmp=[]
    for i in range(0,v):
      if a[i] < a[v]:
        tmp.append(DFS(i))
    if tmp:
      ans[v] = max(tmp)+1
      return ans[v]
    else:
      ans[v] = 1
      return ans[v]

In [ ]:
ans

[1, 1, 2, 1, 3, 3, 1, 4]

In [ ]:
DFS(len(a)-1)

4

In [ ]:
a = [[25,3,4],[4,4,6],[9,2,3],[16,2,5],[1,5,2]]
(any(a[3][2] > i[2] for i in a))

True

In [ ]:
a = [[25,3,4],[4,4,6],[9,2,3],[16,2,5],[1,5,2]]
n=len(a)
ans = [0]*n

def DFS(v):
  if ans[v] != 0:
    return ans[v]

  if (any(a[v][0] > i[0] for i in a)) and (any(a[v][2] > i[2] for i in a)):
    max = 0
    for i in range(n):
      if a[i][0] < a[v][0] and a[i][2] < a[v][2]:
        if DFS(i) + a[v][1] > max:
          max = DFS(i) + a[v][1]
          ans[v] = DFS(i) + a[v][1]
    return ans[v]
  else:
    ans[v] = a[v][1]
    return ans[v]

In [ ]:
DFS(0)

10

In [ ]:
tmp = []
for i in range(n):
  ans = [0]*n
  tmp.append(DFS(i))

max(tmp)

10

In [ ]:
a = [[3,3,5],[2,3,4],[6,5,2]]
n=3
from collections import deque
dq = deque()
dq.append((0,0))
ans = [[999]*3 for _ in range(3)]
ans[0][0] = a[0][0]

dx = [0,1]
dy = [1,0]

while dq:
  r,c = dq.pop()

  for i in range(2):
    rr = r+dx[i]
    cc = c+dy[i]

    if rr < 3 and cc < 3:
      dq.append((rr,cc))
      if ans[r][c] + a[rr][cc] < ans[rr][cc]:
        ans[rr][cc] = ans[r][c] + a[rr][cc]

[[3, 6, 11], [5, 8, 12], [11, 13, 14]]

## 냅색 알고리즘

In [ ]:
a = [[3,4],[4,5],[7,10],[8,11],[9,13]]
n = len(a)
max = 0

def DFS(s,price):
  global max
  if price > max:
    max = price
  for i in range(n):
    if s+a[i][0] <= 17:
      s = s+a[i][0]
      price = price+a[i][1]
      DFS(s,price)
      s = s-a[i][0]
      price = price-a[i][1]

In [ ]:
DFS(0,0)

In [ ]:
max

24

In [ ]:
a = [[3,4],[4,5],[7,10],[8,11],[9,13]]
n = len(a)
max = 0

def DFS(s,price):
  global max
  if price > max:
    max = price
  for i in range(n):
    if s+a[i][0] <= 17:
      DFS(s+a[i][0],price+a[i][1])
DFS(0,0)
max

24

In [ ]:
a = [[3,4],[4,5],[7,10],[8,11],[9,13]]
n = len(a)
t = 17
ans = [0]*(t+1)

def DFS(v):
  if v <3:
    return ans[v]
  if ans[v] != 0:
    return ans[v]
  else:
    for i in a:
      if v-i[0] >= 0:
        if DFS(v-i[0]) + i[1] > ans[v]:
          ans[v] = DFS(v-i[0]) + i[1]
    return ans[v]

In [ ]:
DFS(t)

24

In [ ]:
a=[[5,12],[3,8],[6,14],[4,8]]
t = 11
ans = [0]*(t+1)

def DFS(v):
  if v <3:
    return ans[v]
  if ans[v] != 0:
    return ans[v]
  else:
    for i in a:
      if v-i[0] >= 0:
        if DFS(v-i[0]) + i[1] > ans[v]:
          ans[v] = DFS(v-i[0]) + i[1]

    return ans[v]

In [ ]:
DFS(11)

28

In [ ]:
a=[[5,12],[3,8],[6,14],[4,8]]
t = 11
ans = [0]*(t+1)
n=len(a)

for i in a:
  for j in range(i[0],t+1):
    ans[j] = max(ans[j],ans[j-i[0]] + i[1])

ans

[0, 0, 0, 8, 8, 12, 16, 16, 20, 24, 24, 28]

In [ ]:
a = [1,2,5]
t = 99
ans = [0]*(t+1)

def DFS(v):
  if v in a:
    ans[v] = 1
    return ans[v]
  if ans[v] != 0:
    return ans[v]
  else:
    min = 9999
    for i in a:
      if v-i >= 0:
        if DFS(v-i) + 1 < min:
          min = DFS(v-i) + 1
          ans[v] = DFS(v-i) + 1
    return ans[v]

In [ ]:
DFS(99)

21

In [ ]:
a = [[10,5],[25,12],[15,8],[6,3],[7,4]]
n=len(a)
m_m = 99999
for i in range(n):
  m_m = min(m_m,a[i][1])
m_m-1

2

In [ ]:
a = [[10,5],[25,12],[15,8],[6,3],[7,4]]
n = len(a)
t = 20
ch = [0]*(t+1)
ans = [0]*(t+1)

m_m = 99999
for i in range(n):
  m_m = min(m_m,a[i][1])

for i in range(m_m):
  ch[i] = 1

def DFS(v):

  if ch[v] == 1:
    return ans[v]
  else:
    max = 0
    for i in a:
      if v-i[1] >= 0:
        if DFS(v-i[1]) + i[0] > max:
          max = DFS(v-i[1]) + i[0]
    ans[v] = max
    ch[v] = 1
    return ans[v]

In [ ]:
DFS(20)

41

In [ ]:
a = [[10,5],[25,12],[15,8],[6,3],[7,4]]
n = len(a)
t = 20
ans = [0]*(t+1)

for i in a:
  for j in range(t,i[1]-1,-1):
    ans[j] = max(ans[j-i[1]]+i[0],ans[j])

In [ ]:
ans

[0, 0, 0, 6, 7, 10, 10, 13, 16, 17, 17, 21, 25, 25, 25, 31, 32, 35, 35, 38, 41]

# 플로이드-와샬

## 그래프 최단거리

### 플로이드-와샬을 사용하지 않은 솔루션 (DFS 활용)

In [49]:
M = 2147000000
a = [[0,6,3,M,M],[M,0,M,1,13],[M,2,0,5,M],[M,3,M,0,7],[M,M,M,M,0]]
ans = [[M]*5 for _ in range(5)]

In [50]:
ch = [0]*5
def DFS (start,end,now,dis):
  ch[now]=1
  if now == end:
    if dis < ans[start][end]:
      ans[start][end] = dis
  else:
    for i in range(5):
      if ch[i]==0 and a[now][i]+dis < ans[start][end]:
        DFS(start,end,i,dis+a[now][i])
  ch[now]=0

In [52]:
for i in range(5):
  for j in range(5):
    ch = [0]*5
    DFS(i,j,i,0)

for i in range(5):
  for j in range(5):
    if ans[i][j] == M:
      ans[i][j] = 'M'

ans

[[0, 5, 3, 6, 13],
 ['M', 0, 'M', 1, 8],
 ['M', 2, 0, 3, 10],
 ['M', 3, 'M', 0, 7],
 ['M', 'M', 'M', 'M', 0]]

### 플로이드-와샬 사용 (3중 for문)

In [1]:
M = 2147000000
a = [[0,6,3,M,M],[M,0,M,1,13],[M,2,0,5,M],[M,3,M,0,7],[M,M,M,M,0]]
for k in range(4,-1,-1):
  for i in range(5):
    for j in range(5):
      a[i][j] = min(a[i][j],a[i][k]+a[k][j])
a

[[0, 5, 3, 6, 13],
 [2147000000, 0, 2147000000, 1, 8],
 [2147000000, 2, 0, 3, 10],
 [2147000000, 3, 2147000000, 0, 7],
 [2147000000, 2147000000, 2147000000, 2147000000, 0]]

In [10]:
a=[[5]*5 for _ in range(5)]
l = [[1,2],[2,3],[3,4],[4,5],[2,4],[5,3]]

for i in l:
  a[i[0]-1][i[1]-1] = 1
  a[i[1]-1][i[0]-1] = 1

a

[[5, 1, 5, 5, 5],
 [1, 5, 1, 1, 5],
 [5, 1, 5, 1, 1],
 [5, 1, 1, 5, 1],
 [5, 5, 1, 1, 5]]

In [11]:
for k in range(5):
  for i in range(5):
    for j in range(5):
      a[i][j]=min(a[i][j],a[i][k]+a[k][j])

In [12]:
a

[[2, 1, 2, 2, 3],
 [1, 2, 1, 1, 2],
 [2, 1, 2, 1, 1],
 [2, 1, 1, 2, 1],
 [3, 2, 1, 1, 2]]

In [17]:
m=[]
for i in range(5):
  m.append(max(a[i]))
mn = min(m)
ans = []
for i in range(5):
  if max(a[i]) == mn:
    ans.append(i+1)
ans

[2, 3, 4]

## 위상정렬

In [17]:
a= [[1,4],[5,4],[4,3],[2,5],[2,3],[6,2]]
graph = [[0]*6 for _ in range(6)]
con = [0]*6
for i in a:
  graph[i[0]-1][i[1]-1] = 1
  con[i[1]-1]+=1

ans = []
ch = [0]*6
cnt=0
def DFS(v):
  global ch
  global a
  global cnt
  if v == 6:
    print([k for k in ans])
    cnt+=1
  else:
    for i in range(6):
      if ch[i] == 0 and con[i] == 0:
        ch[i] = 1
        ans.append(i+1)
        for j in a:
          if j[0] == i+1:
            con[j[1]-1]-=1
        DFS(v+1)
        ch[i] = 0
        ans.pop()
        for j in a:
          if j[0] == i+1:
            con[j[1]-1]+=1

In [18]:
DFS(0)
print(cnt)

[1, 6, 2, 5, 4, 3]
[6, 1, 2, 5, 4, 3]
[6, 2, 1, 5, 4, 3]
[6, 2, 5, 1, 4, 3]
4