<a href="https://colab.research.google.com/github/jihun0423/algorithm_practice/blob/main/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%EC%97%B0%EC%8A%B5_(%ED%83%90%EC%83%89%26%EA%B2%B0%EC%A0%95_%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98%26%EA%B7%B8%EB%A6%AC%EB%94%94).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 탐색 & 시뮬레이션

## 평균과 가장 가까운 수

In [ ]:
a = '90 80 70 60 50 40 70 60'
a = list(map(int,a.split()))

In [ ]:
import numpy as np
avg = np.mean(a)

In [ ]:
l = []
for i,j in enumerate(a-avg):
  if abs(j) == min(abs(a-avg)):
    l.append(a[i])

a.index(max(l))+1

3

In [ ]:
l_2 = []
for i,j in enumerate(a):
  if j == max(l):
    l_2.append(i)

In [ ]:
l_2[-1]+1

7

## 정다면체 2개의 눈의 합 중 최다 빈도

### Sol 1

In [ ]:
import pandas as pd
t = input()
n,m=list(map(int,t.split()))
l=[]
for i in range(n):
  for j in range(m):
    l.append((i+j+2))

v=pd.DataFrame(l)[0].value_counts()
print(' '.join(str(i) for i in v[v==v.max()].index))

s=pd.Series(l).value_counts()
print(' '.join(str(i) for i in s[s==s.max()].index))

4 6
5 6 7
5 6 7

### Sol 2

In [ ]:
cnt = [0] * (n+m+2)
for i in range(1,n+1):
  for j in range(1,m+1):
    cnt[i+j]+=1

for i in range(len(cnt)):
  if cnt[i] == max(cnt):
    print(i,end=' ')

5 6 7

## 각 자릿수의 합이 최대인 수

In [ ]:
n = 3
N = [12345,134,35]

def digit_sum(x):
  max = 0
  for i in range(n):
    if max < sum(map(int,str(x[i]))):
      max = sum(map(int,str(x[i])))
      m = i
  return x[m]

digit_sum(N)

12345

In [ ]:
inp = '123 12345 536'
l = list(map(int,inp.split(' ')))

list(map(int,str(l[1])))

[1, 2, 3, 4, 5]

## 소수 (에라토스테네스 체)

In [ ]:
n=200000

In [ ]:
cnt = [0] * (n+1)
num = 0
for i in range(2,n+1):
  if cnt[i] == 0:
    num+=1
    for j in range(i,n+1,i):
        cnt[j]=1
print('\n',num)

 17984

## 주사위 곱 경우의수 확률

In [ ]:
n = 6
ch = [0] * ((n**3)+1)

for i in range(1,n+1):
  for j in range(1,n+1):
    for k in range(1,n+1):
      ch[(i*j*k)] += 1

In [ ]:
import numpy as np
np.max(ch)

15

In [ ]:
for i,j in enumerate(ch):
  if j == np.max(ch):
    print(i,end=' ')

12 24

In [ ]:
df=pd.DataFrame(pd.Series(ch)/sum(ch),columns=['prob'])
df[df['prob']!=0].reset_index()

    index      prob
0       1  0.004630
1       2  0.013889
2       3  0.013889
3       4  0.027778
4       5  0.013889
5       6  0.041667
6       8  0.032407
7       9  0.013889
8      10  0.027778
9      12  0.069444
10     15  0.027778
11     16  0.027778
12     18  0.041667
13     20  0.041667
14     24  0.069444
15     25  0.013889
16     27  0.004630
17     30  0.055556
18     32  0.013889
19     36  0.055556
20     40  0.027778
21     45  0.013889
22     48  0.041667
23     50  0.013889
24     54  0.013889
25     60  0.055556
26     64  0.004630
27     72  0.041667
28     75  0.013889
29     80  0.013889
30     90  0.027778
31     96  0.013889
32    100  0.013889
33    108  0.013889
34    120  0.027778
35    125  0.004630
36    144  0.013889
37    150  0.013889
38    180  0.013889
39    216  0.004630

In [ ]:
df[df['prob']==df['prob'].max()]

        prob
12  0.069444
24  0.069444

## 뒤집은 소수

In [ ]:
def reverse(x):
  l_r = str(x)[::-1]
  return int(''.join(l_r))

In [ ]:
def isPrime(x):
  if x==1:
    return False
  for i in range(2,x):
    if x%i == 0:
      break;
  else:
     return(x)

In [ ]:
a = input()
a = list(map(int,a.split()))

for i in a:
  i_r = int(reverse(i))
  if isPrime(i_r):
    print(i,' reversed is ',isPrime(i_r),' which is Prime Number')

73 200 53 76 900
73  reversed is  37  which is Prime Number
200  reversed is  2  which is Prime Number
76  reversed is  67  which is Prime Number

In [ ]:
import pandas as pd
n = 3
l = [[3,3,5],[4,4,4],[5,6,2]]
price = []
for i in range(n):
  if len(pd.Series(l[i]).value_counts()) == 1:
    price.append(10000+l[i][0]*1000)
  if len(pd.Series(l[i]).value_counts()) == 2:
    price.append(10000+list(pd.Series(l[i]).value_counts()[(pd.Series(l[i]).value_counts()==2)].index)[0]*100)
  if len(pd.Series(l[i]).value_counts()) == 3:
    price.append(max(l[i])*100)

print(max(price))

14000

## 연속 정답 점수

In [ ]:
a = [0,1,0,1,1,1,0,1,1,0]
score = []
cnt = 0
for i in a:
  if i==1:
    cnt+=1
    score.append(cnt)
  else:
    cnt=0
    score.append(cnt)

In [ ]:
score

[0, 1, 0, 1, 2, 3, 0, 1, 2, 0]

## 문자열 거꾸로

In [ ]:
a=input()
l=list(map(str,a.split()))

for i in l:
  if i[::-1].upper() == i.upper():
    print(i, ' : YES')
  else:
    print(i, ' : NO')

gooG
gooG  : YES

In [ ]:
a = list(range(21))

def change(x,a,b):
  for i in range((b-a+1)//2):
    x[a+i],x[b-i] = x[b-i],x[a+i]
  return x

change(a,4,7)

[0, 1, 2, 3, 7, 6, 5, 4, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
a=[1,2,3,1,4,2,5,6,2,3,2,4,1]
m=5
n=len(a)
cnt=0

for i in range(n-1):
  sum = a[i]

  for j in range(i+1,n):
    if sum < m:
      sum+=a[j]
    elif sum == m:
      cnt+=1
      break;
    else:
      break;

In [ ]:
cnt

5

In [ ]:
a=[]
n=7
for i in range(n):
  a.append([(n*i)+j for j in range(n)])

In [ ]:
mid = n//2
l=[]
for i in range(n):
  if i <= mid:
    for j in range(mid-i,mid+i+1):
      l.append(a[i][j])
  else:
    for j in range(i-mid,n-i+mid):
      l.append(a[i][j])

sum(l)

600

In [ ]:
a=[]
n=7
for i in range(n):
  a.append([(n*i)+j for j in range(n)])

In [ ]:
r,d,n = map(int,input().split())

4 0 4

In [ ]:
for i in range(n):
  if d==0:
    a[r] = [a[r].pop((len(a[r])-1))] + a[r]
  if d==1:
    a[r] = a[r] + [a[r].pop(0)]

In [ ]:
a

[[0, 1, 2, 3, 4, 5, 6],
 [7, 8, 9, 10, 11, 12, 13],
 [14, 15, 16, 17, 18, 19, 20],
 [21, 22, 23, 24, 25, 26, 27],
 [31, 32, 33, 34, 28, 29, 30],
 [35, 36, 37, 38, 39, 40, 41],
 [42, 43, 44, 45, 46, 47, 48]]

In [ ]:
s=0
e=len(a)-1
l=[]
for i in range(len(a)):
  for j in range(s,e+1):
    l.append(a[i][j])
  if i < (len(a)-1)//2:
    s+=1
    e-=1
  else:
    s-=1
    e+=1

sum(l)

746

## 봉우리 찾기

In [ ]:
a=[[0,0,0,0,0,0,0],
   [0,5,3,7,2,3,0],
   [0,3,7,1,6,1,0],
   [0,7,2,5,3,4,0],
   [0,4,3,6,4,1,0],
   [0,8,7,3,5,2,0],
   [0,0,0,0,0,0,0]]

In [ ]:
cnt=0
for i in range(1,6):
  for j in range(1,6):
    if (a[i][j] > a[i-1][j]) & (a[i][j] > a[i+1][j]) & (a[i][j] > a[i][j-1]) & (a[i][j] > a[i][j+1]):
      cnt+=1

cnt

10

# 결정 알고리즘

## 랜선 자르기 (결정 알고리즘 & 이분 검색)

In [ ]:
a = [802,743,457,539]

lt = 1
rt = 1000
max = 0
while rt>=lt:
  mid = (lt+rt)//2
  if sum([i//mid for i in a]) < 11:
    rt = mid-1
  elif sum([i//mid for i in a]) > 11:
    lt = mid+1
  else:
    if mid>max:
      max = mid
    lt = mid+1

print(max)

200

In [ ]:
cnt

10

In [ ]:
m=3
a=[1,2,3,4,5,6,7,8,9]
lt=1
rt=45
cnt=1
tmp=45
while rt>=lt:
  s=0
  cnt=1

  mid = (rt+lt)//2

  for i in a:
    if s+i > mid:
      cnt+=1
      s=i
    else:
      s+=i
  print(mid,cnt)
  if cnt > m:
    lt = mid+1
  elif cnt < m:
    rt = mid-1
  else:
    rt = mid-1
    tmp=min(tmp,mid)

23 3
11 5
17 3
14 5
15 4
16 4

In [ ]:
tmp

17

In [1]:
a=[1,2,3,4,6,9]

ls=1
rs=9
m=2
ans=1

while rs>=ls:
  mid = (ls+rs)//2
  tmp = a[0]
  cnt = 1

  for i in a:
    if (i-tmp) >= mid:
      tmp=i
      cnt+=1

  print(f'ls : {ls}, rs : {rs}, mid : {mid}, cnt : {cnt}')

  if cnt < m:
      rs=mid-1
  elif cnt >= m:
      ls=mid+1
      ans = max(mid,ans)

ls : 1, rs : 9, mid : 5, cnt : 2
ls : 6, rs : 9, mid : 7, cnt : 2
ls : 8, rs : 9, mid : 8, cnt : 2
ls : 9, rs : 9, mid : 9, cnt : 1

In [ ]:
ans

8

# 그리디 알고리즘

In [ ]:
a = [[180,66],[175,74],[178,73],[182,66],[185,58],[188,72],[176,75]]

In [ ]:
a.sort(key=lambda x: (x[0],x[1]))
a

[[175, 74], [176, 75], [178, 73], [180, 66], [182, 66], [185, 58], [188, 72]]

In [ ]:
ans = []
for i in range(len(a)-1):
  if all(a[i][1] > a[j][1] for j in range(i+1,len(a))):
    ans.append(a[i])
ans.append(a[-1])

In [ ]:
ans

[[176, 75], [178, 73], [188, 72]]

In [ ]:
a[0][1] > all(([a[j][1] for j in range(1,len(a))]))

True

In [ ]:
all(a[0][1]> a[j][1] for j in range(1,len(a)))

False

In [2]:
a=[9,4,2,3,6,4,8,1]
boxes = []
for i in range(len(a)):
  boxes.append([a[i],i])

m=4
for i in range(m):
  boxes.sort(reverse=True)
  boxes[0][0] = boxes[0][0]-1
  boxes[-1][0] = boxes[-1][0]+1

In [3]:
boxes.sort(key = lambda x: x[1])
boxes

[[7, 0], [4, 1], [4, 2], [3, 3], [6, 4], [4, 5], [6, 6], [3, 7]]

In [ ]:
a=[90,50,70,100,60,80,40,120]
a.sort()
m=130
cnt=0

while len(a) > 0:
  if a[0]+a[-1] > m:
    a.pop(-1)
    cnt+=1
  else:
    a.pop(0)
    a.pop(-1)
    cnt+=1

In [18]:
a=[2,4,5,1,3]
last=0
ans = ''
l = []
while len(a)>0:
  if (last < a[0]) & (last < a[-1]):
    if a[0] < a[-1]:
      last = a[0]
      ans+='l'
      l.append(a[0])
      a.pop(0)
    else:
      last = a[-1]
      ans+='r'
      l.append(a[-1])
      a.pop(-1)
  elif last < a[0]:
    last = a[0]
    ans+='l'
    l.append(a[0])
    a.pop(0)
  elif last < a[-1]:
    last = a[-1]
    ans+='r'
    l.append(a[-1])
    a.pop(-1)
  else:
    break

## 역수열

#### 역수열 구하기

In [31]:
a= [4,6,2,1,3,5,8,7]
ans = []
for i in sorted(a):
  cnt=0
  for j in range(0,a.index(i)+1):
    if a[j]>i:
      cnt+=1
  ans.append(cnt)

ans

[3, 2, 2, 0, 1, 0, 1, 0]

### 원래수열 구하기

#### sol 1

In [54]:
a=[3,2,2,0,1,0,1,0]
ans = [0]*(len(a))
for i in range(0,len(a)):
  for j in range(len(a)):
    if a[i] == 0:
      for k in range(len(a)):
        if ans[k] == 0:
          ans[k] = i+1
          break
      break
    if ans[:j+1].count(0) == a[i]:
      for k in range(j+1,len(a)):
        if ans[k] == 0:
          ans[k] = i+1
          break
      break

In [55]:
ans

[4, 6, 2, 1, 3, 5, 8, 7]

#### sol 2

In [60]:
a=[3,2,2,0,1,0,1,0]
ans = [0]*(len(a))
for i in range(0,len(a)):
  for j in range(0, len(a)):
    if (ans[j] == 0) & (a[i] == 0):
      ans[j] = i+1
      break
    elif ans[j] == 0:
      a[i] -= 1

In [61]:
ans

[4, 6, 2, 1, 3, 5, 8, 7]