<a href="https://colab.research.google.com/github/jihun0423/algorithm_practice/blob/main/%EC%95%8C%EA%B3%A0%EB%A6%AC%EC%A6%98_%EC%97%B0%EC%8A%B5_3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=[[5,3],[10,2],[1,5]]
n=len(a)

t=20
ans=dict()
cnt=0

In [ ]:
def DFS(v,sum):
  global cnt
  if v==n:
    if sum == t:
      print(ans)
      cnt+=1
    else:
      return
  else:
    for i in range(0,a[v][1]+1):
      ans[a[v][0]]=i
      DFS(v+1,sum+(a[v][0]*i))
      ans[a[v][0]]=0

In [ ]:
DFS(0,0)

{5: 0, 10: 2, 1: 0}
{5: 1, 10: 1, 1: 5}
{5: 2, 10: 1, 1: 0}
{5: 3, 10: 0, 1: 5}

In [ ]:
cnt

8

In [ ]:
a=3
b=4
c=5
min(a,b,c)

3

In [ ]:
a = [8,9,11,12,23,15,17]
n = len(a)
mini = 999
def DFS(v,sum_a,sum_b,sum_c):
  global mini
  if v == n:
    if sum_a != sum_b and sum_b != sum_c and sum_a != sum_c:
      if (max(sum_a,sum_b,sum_c) - min(sum_a,sum_b,sum_c)) < mini:
        mini = (max(sum_a,sum_b,sum_c) - min(sum_a,sum_b,sum_c))
        print(sum_a,sum_b,sum_c,mini)
  else:
    DFS(v+1,sum_a+a[v],sum_b,sum_c)
    DFS(v+1,sum_a,sum_b+a[v],sum_c)
    DFS(v+1,sum_a,sum_b,sum_c+a[v])

In [ ]:
DFS(0,0,0,0)

78 17 0 78
63 32 0 63
63 15 17 48
55 23 17 38
40 38 17 23
40 23 32 17
28 35 32 7
29 34 32 5

In [ ]:
mini

5

In [ ]:
l=['END']
for i in range(ord('A'),ord('Z')+1):
  l.append(chr(i))

ans=[]

a= list(map(int,'26521810'))
n= len(a)

In [ ]:
def DFS(v):
  global ans
  if v == n:
    print(ans)
  elif a[v] == 0:
    print(ans)
  elif v == n-1:
    ans.append(l[a[v]])
    DFS(v+1)
    ans.pop()
  else:
    if (a[v]*10 + a[v+1])<=26:
      ans.append(l[(a[v]*10 + a[v+1])])
      DFS(v+2)
      ans.pop()
      ans.append(l[a[v]])
      DFS(v+1)
      ans.pop()
    else:
      ans.append(l[a[v]])
      DFS(v+1)
      ans.pop()

In [ ]:
DFS(0)

['Z', 'E', 'U', 'H', 'J']
['Z', 'E', 'U', 'H', 'A']
['Z', 'E', 'B', 'R', 'J']
['Z', 'E', 'B', 'R', 'A']
['Z', 'E', 'B', 'A', 'H', 'J']
['Z', 'E', 'B', 'A', 'H', 'A']
['B', 'F', 'E', 'U', 'H', 'J']
['B', 'F', 'E', 'U', 'H', 'A']
['B', 'F', 'E', 'B', 'R', 'J']
['B', 'F', 'E', 'B', 'R', 'A']
['B', 'F', 'E', 'B', 'A', 'H', 'J']
['B', 'F', 'E', 'B', 'A', 'H', 'A']

## BFS

In [ ]:
from collections import deque
m=1000
dq = deque()
dq.append(5)
l = [0] * (m+1)
l[5] = 0
t=14

In [ ]:
while dq:
  if l[t] !=0:
    print(l[t])
    break
  last = dq.popleft()
  for i in [last+1,last-1,last+5]:
    if i >= 0:
      if l[i] == 0:
        l[i] = l[last]+1
        dq.append(i)

3

In [ ]:
import numpy as np
a=list(range(25))
a = np.array(a)
a = a.reshape(5,5)

In [ ]:
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [ ]:
n = 5
m = (n//2)
now = m*n+m
from collections import deque
dq = deque()
dq.append(now)
l = [0] * (n**2)
l[now]=1
ans = [a[m,m]]
level=0
while dq:
  if level == m:
    break
  size = len(dq)
  for _ in range(size):
    now = dq.popleft()
    for i in [now-5,now+5,now-1,now+1]:
      if l[i] == 0:
        l[i] = l[now]+1
        ans.append(a[i//5][i%5])
        dq.append(i)
  level += 1

In [ ]:
ans

[12, 7, 17, 11, 13, 2, 6, 8, 22, 16, 18, 10, 14]

In [ ]:
a

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [ ]:
dx = [1,0,-1,0]
dy = [0,1,0,-1]
n=7
ch = [[0]*n for _ in range(n)]
dis = [[0]*n for _ in range(n)]

a=[[0,0,0,0,0,0,0],
   [0,1,1,1,1,1,0],
   [0,0,0,1,0,0,0],
   [1,1,0,1,0,1,1],
   [1,1,0,1,0,0,0],
   [1,0,0,0,1,0,0],
   [1,0,1,0,0,0,0]]

now = (0,0)

dq = deque()
dq.append(now)

In [ ]:
l=0
while dq:
  if dis[n-1][n-1] != 0:
    break
  size = len(dq)
  for _ in range(size):
    now = dq.popleft()
    ch[now[0]][now[1]] = 1
    for x,y in zip(dx,dy):
      if (0 <= (now[1]+x) < 7) and (0 <= (now[0]+y) < 7) and (ch[now[0]+y][now[1]+x] == 0) and a[now[0]+y][now[1]+x] == 0:
        dq.append((now[0]+y,now[1]+x))
        dis[now[0]+y][now[1]+x] = l+1
  l+=1

In [ ]:
dis

[[0, 1, 2, 3, 4, 5, 6],
 [1, 0, 0, 0, 0, 0, 7],
 [2, 3, 4, 0, 10, 9, 8],
 [0, 0, 5, 0, 11, 0, 0],
 [0, 0, 6, 0, 12, 0, 0],
 [0, 8, 7, 8, 0, 12, 0],
 [0, 9, 0, 9, 10, 11, 12]]

In [ ]:
ch

[[1, 1, 1, 1, 1, 1, 1],
 [1, 0, 0, 0, 0, 0, 1],
 [1, 1, 1, 0, 1, 1, 1],
 [0, 0, 1, 0, 1, 0, 0],
 [0, 0, 1, 0, 1, 0, 0],
 [0, 1, 1, 1, 0, 1, 0],
 [0, 1, 0, 1, 1, 1, 1]]

In [ ]:
dx = [1,0,-1,0]
dy = [0,1,0,-1]
n=7
ch = [[0]*n for _ in range(n)]
dis = [[0]*n for _ in range(n)]

a=[[0,0,0,0,0,0,0],
   [0,1,1,1,1,1,0],
   [0,0,0,1,0,0,0],
   [1,1,0,1,0,1,1],
   [1,1,0,0,0,0,1],
   [1,1,0,1,1,0,0],
   [1,0,0,0,0,0,0]]

In [ ]:
cnt=0

a[0][0] = 1

def DFS(x,y,v):
  global cnt
  if dis[6][6]!=0:
    cnt+=1
    for i in range(len(dis)):
      print(dis[i])
    print()
  else:
    for i in range(4):
      next_x = x+dx[i]
      next_y = y+dy[i]
      if (0<=next_x<=6) and (0<=next_y<=6):
        if (a[next_x][next_y] == 0) and (dis[next_x][next_y] == 0):
          dis[next_x][next_y] = v+1
          a[next_x][next_y] = 1
          DFS(next_x,next_y,v+1)
          a[next_x][next_y] = 0
          dis[next_x][next_y] = 0

In [ ]:
DFS(0,0,0)

[0, 0, 0, 0, 0, 0, 0]
[1, 0, 0, 0, 0, 0, 0]
[2, 3, 4, 0, 0, 0, 0]
[0, 0, 5, 0, 0, 0, 0]
[0, 0, 6, 0, 0, 0, 0]
[0, 0, 7, 0, 0, 0, 0]
[0, 0, 8, 9, 10, 11, 12]

[0, 0, 0, 0, 0, 0, 0]
[1, 0, 0, 0, 0, 0, 0]
[2, 3, 4, 0, 0, 0, 0]
[0, 0, 5, 0, 0, 0, 0]
[0, 0, 6, 0, 0, 0, 0]
[0, 0, 7, 0, 0, 12, 13]
[0, 0, 8, 9, 10, 11, 14]

[0, 0, 0, 0, 0, 0, 0]
[1, 0, 0, 0, 0, 0, 0]
[2, 3, 4, 0, 0, 0, 0]
[0, 0, 5, 0, 0, 0, 0]
[0, 0, 6, 7, 8, 9, 0]
[0, 0, 0, 0, 0, 10, 0]
[0, 0, 0, 0, 0, 11, 12]

[0, 0, 0, 0, 0, 0, 0]
[1, 0, 0, 0, 0, 0, 0]
[2, 3, 4, 0, 0, 0, 0]
[0, 0, 5, 0, 0, 0, 0]
[0, 0, 6, 7, 8, 9, 0]
[0, 0, 0, 0, 0, 10, 11]
[0, 0, 0, 0, 0, 0, 12]

[0, 1, 2, 3, 4, 5, 6]
[0, 0, 0, 0, 0, 0, 7]
[0, 0, 0, 0, 10, 9, 8]
[0, 0, 0, 0, 11, 0, 0]
[0, 0, 0, 0, 12, 13, 0]
[0, 0, 0, 0, 0, 14, 0]
[0, 0, 0, 0, 0, 15, 16]

[0, 1, 2, 3, 4, 5, 6]
[0, 0, 0, 0, 0, 0, 7]
[0, 0, 0, 0, 10, 9, 8]
[0, 0, 0, 0, 11, 0, 0]
[0, 0, 0, 0, 12, 13, 0]
[0, 0, 0, 0, 0, 14, 15]
[0, 0, 0, 0, 0, 0, 16]

[0, 1, 2, 3, 4, 5, 6]
[0, 0, 0, 0, 0, 0, 7]
[0, 0, 0, 0, 10, 9, 8]
[0, 0, 0, 0, 11, 0, 0]
[0, 0, 14, 13, 12, 0, 0]
[0, 0, 15, 0, 0, 0, 0]
[0, 0, 16, 17, 18, 19, 20]

[0, 1, 2, 3, 4, 5, 6]
[0, 0, 0, 0, 0, 0, 7]
[0, 0, 0, 0, 10, 9, 8]
[0, 0, 0, 0, 11, 0, 0]
[0, 0, 14, 13, 12, 0, 0]
[0, 0, 15, 0, 0, 20, 21]
[0, 0, 16, 17, 18, 19, 22]

In [ ]:
cnt

8

In [ ]:
a

[[0, 0, 0, 0, 0, 0, 0],
 [0, 1, 1, 1, 1, 1, 0],
 [0, 0, 0, 1, 0, 0, 0],
 [1, 1, 0, 1, 0, 1, 1],
 [1, 1, 0, 1, 0, 0, 0],
 [1, 0, 0, 0, 1, 0, 0],
 [1, 0, 1, 0, 0, 0, 0]]

In [ ]:
from collections import deque
dq = deque()
dq.append((0,0))
min = [(0,0),100]
max = [(0,0),0]

a= [[20,2,92,78,93],
    [49,50,48,90,80],
    [30,53,70,75,96],
    [94,91,82,89,93],
    [97,98,100,95,96]]
n=len(a)

dx = [1,0,-1,0]
dy = [0,1,0,-1]

ch = [[0]*5 for _ in range(n)]
ch[0][0] = 1

ans = []
v=0
while dq:
  l = len(dq)
  now_x,now_y = dq.popleft()

  for i in range(l):
    for j in range(4):
      next_x = now_x + dx[j]
      next_y = now_y + dy[j]

      if 0<=next_x<n and 0<=next_y < n:
        if a[next_x][next_y] < min[1]:
          min = [(next_x,next_y),a[next_x][next_y]]
        if a[next_x][next_y] > max[1]:
          max = [(next_x,next_y),a[next_x][next_y]]
        if ch[next_x][next_y] == 0 and a[next_x][next_y] > a[now_x][now_y]:
          dq.append((next_x,next_y))
          ch[next_x][next_y] = 1
  v+=1

print(v)
print(min)
print(max)

18
[(0, 1), 2]
[(4, 2), 100]

In [ ]:
ch = [[0]*5 for _ in range(n)]
ch[0][0] = 1
cnt=0
ans = [min[1]]

def DFS(x,y,v):
  global cnt
  if ch[max[0][0]][max[0][1]] != 0:
    cnt+=1
    print(ans)
  else:
    for i in range(4):
      next_x = x+dx[i]
      next_y = y+dy[i]

      if 0<=next_x<n and 0<=next_y<n and ch[next_x][next_y] == 0 and a[x][y] < a[next_x][next_y]:
        ans.append(a[next_x][next_y])
        ch[next_x][next_y] = 1
        DFS(next_x,next_y,v+1)
        ch[next_x][next_y] = 0
        ans.pop()

DFS(min[0][0],min[0][1],0)
cnt

[2, 50, 53, 91, 98, 100]
[2, 50, 53, 91, 94, 97, 98, 100]
[2, 50, 53, 70, 82, 100]
[2, 50, 53, 70, 82, 89, 95, 100]
[2, 50, 53, 70, 82, 91, 98, 100]
[2, 50, 53, 70, 82, 91, 94, 97, 98, 100]
[2, 50, 53, 70, 75, 89, 95, 100]

7